@model WebApplicationParqueando.Models.DTO.CalificacionDTO

<h1>Calificación Creada</h1>

<div>
    <h4>Detalles de la Calificación</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valoracion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valoracion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDEstablecimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDEstablecimiento)
        </dd>
    </dl>
</div>

<p>
    <a asp-action="Index">Volver a la lista</a>
</p>
