@model IEnumerable<WebApplicationParqueando.Models.DTO.CalificacionDTO>

<h1>Calificaciones</h1>

<p>
    <a asp-action="Create">Crear nueva calificación</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Valoracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDEstablecimiento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Valoracion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDEstablecimiento)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IDcalificacion">Detalles</a> |
                    <a asp-action="Edit" asp-route-id="@item.IDcalificacion">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.IDcalificacion">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
